.fomCardStatic {
  height: 100%;
  width: 100%;
  color: var(--main-white);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 15px;
  position: relative;
  border-radius: 15px;

  p {
    text-align: center;

    span {
      font-weight: bold;
      margin: 0px 6px;
      color: var(--main-neon-green);
    }
  }

  svg {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 15px;
    right: 15px;
  }
}
