@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* colors */
  --main-black: #000000;
  --main-white: #fff;
  --main-light-orange: #ffdcbc;
  --main-neon-green: #cdff00;
  --background-grey: #dfdfdf;
  --light-grey: #efefef;
  --grey: #d9d9d9;
  --border-grey: #cbcbca;
  --info-blue: #0165e1;
  --danger-red: #ff0000;

  /* font sizes */
  --main-big-font-size: 24px;
  --main-medium-font-size: 18px;
  --main-small-font-size: 16px;
  --main-extra-small-font-size: 14px;

  /* font families */
  --roboto-font-family: "Roboto", sans-serif;
  --chakra-patch-font-family: "Chakra Petch", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
