.closeOsBtn {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: rgba(3, 4, 94, 0.64);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.4px);
  -webkit-backdrop-filter: blur(3.4px);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s all ease-in-out;

  .btnIcon {
    width: 30px;
    transition: 0.3s all ease-in-out;
  }
}

.closeOsBtn:hover .btnIcon {
  transform: rotate(180deg);
}

.closeOsBtn:hover {
  width: 70px;
}
