.flexCard {
  margin: 10px;
  border-radius: 15px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.flexCardSection {
  height: 190px;
  margin: 10px;
  border-radius: 15px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
